body {
  box-sizing: border-box;
  font-size: 18px;
  background-color: #191765;
  margin: 0;
  color: white;
  z-index: -1;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  .projects {
    display: grid;
    height: auto;
    grid-template-columns: 100%;
  }

  .title_post {
    color: #fff;
    margin-left: 25px;
  }

  h1 {
    color: #9490ff;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
  }

  hr {
    width: 320px;
  }

  .hr_vertical {
    width: 1px;
    height: 40px;
    background-color: #555;
  }

  .ellipse_19 {
    background-image: url('Ellipse_19.png');
    background-repeat: no-repeat;
  }

  .img_placeholder {
    display: flex;
    justify-content: center;
  }

  p {
    margin-right: 35px;
    margin-left: 35px;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    color: #dcdce8;
  }

  ul {
    display: flex;
    justify-content: flex-start;
  }

  .tags li {
    list-style-type: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-weight: 500;
    border-left: 2px solid #555;
  }

  .tags li:first-child {
    border-left: none;
  }

  .button {
    display: flex;
    background: #7d73fc;
    width: 89px;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: #edecff;
    font-size: 15px;
    padding: 5px;
    margin-left: 35px;
    margin-bottom: 40px;
  }

  .pro_2 {
    position: relative;
  }

  .ellipse_20 {
    background-image: url('ellipse_20.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 60%;
    top: 20%;
  }

  .pro_3 {
    position: relative;
  }

  .ellipse_21 {
    background-image: url('ellipse_21.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 60%;
    height: 60%;
    left: 0%;
    top: 28%;
  }

  .pro_4 {
    position: relative;
  }

  .ellipse_22 {
    background-image: url('ellipse_22.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 60%;
    height: 60%;
    left: 55%;
    top: 28%;
  }
}

